<h1>Student ID</h1>
<input type="text" [(ngModel)]="term" (keyup)="filter()" placeholder="Enter Student Details">
<button routerLink="/dashboard/create-studentform">Create Student Id</button>
<div class="parent">
    <div id="card" *ngFor="let student of studentid">
        <div class="top">
           
            <div class="logo"><img class="img1" src={{student.school_logo}} ></div>
            <div class="heading"><h4>school Name:{{student.school_name}}</h4></div>
            
        </div>
        <div class="content">
            <div class="image"><img class="img2" src={{student.profile_picture}} alt=""></div>
            <div class="details">
                <label>Name:{{student.name}}</label><br>
                <label>Phone:{{student.phone}}</label><br>
                <label>City:{{student.city}}</label><br>
                <label>DOB:{{student.dob}}</label><br>
                <label>Email:{{student.email}}</label><br>
                <label>pin:{{student.school_pin}}</label>
                

            </div>
          </div>
          <div class="button">
            <button class="btn btn-info">View</button>
            <button routerLink="/dashboard/edit-student-details/{{student.id}}" class="=btn btn-primary">Edit</button>
            <button (click)="delete(student.id)" class="btn btn-danger">Delete</button>
        </div>
    </div>
   
</div>

