<form [formGroup]="accountForm">
    <label>Account Name:</label>
    <input type="text" formControlName="account_name"><br>
    <label>Available balance:</label>
    <input type="text" formControlName="available_balance"><br>
    <label>Account Number:</label>
    <input type="text" formControlName="account_number"><br>
    <label>City:</label>
    <input type="text" formControlName="city"><br>
    <label>IFSC:</label>
    <input type="text" formControlName="ifsc_code" ><br>
    <label>ID:</label>
    <input type="text" formControlName="id"><br>
    <button (click)="create()" class="btn btn-info">Create Account</button>
</form>
