.circle{
    margin: 150px;
    text-align: center;
    height: 40%;
    width:35% ;
    background-color: aliceblue;
    justify-content: center;
    padding-top: 10%;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    border: 2px black;
    font-family: cursive;
}
.button{
    background-color: rgb(153, 30, 30);
    height: 30px;
    width: 180px;
    border-radius: 5px;
    color: white;
}