<h1>Employee Data</h1>

<table border="1" [cellPadding]="10" [cellSpacing]="0">
    <thead>
        <tr>
            <th>S No</th>
            <th> Name</th>
            <th>Experince</th>
            <th>Package</th>
            <th>Role</th>
            <th>Action</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let employee of employees;let i=index">
            <td > {{i+1}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.experience}}</td>
            <td>{{employee.package}}</td>
            <td>{{employee.role}}</td>
            <td>
                <button (click)="delete(i)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
